{% extends "layout/question.main.html.twig" %}

{% block content %}
	<ul class="list-group list-group-striped">
		{%- for answer in question.answers -%}
			<li class="list-group-item">
				<div class="{{ type }}">
					<label for="id_{{ answer.form.name }}" class="col-sm-8">{{ answer.form.label }}</label>
					{# <input class="form-control" id="id_{{ answer.form.name }}" type="{{ type }}" data-label="{{ answer.form.label }}" name="{{ answer.form.name }}"{% if answer.form.value %} value="{{ answer.form.value }}"{% endif %}> #}
					<div class="col-sm-4">
						<select class="form-control" name="{{ answer.form.name }}" id="id_{{ answer.form.name }}">
							<option>{{ answer.form.defaultOption }}</option>
							{%- for option in answer.form.options -%}
								<option value="{{ option.value }}">{{ option.title }}</option>
							{%- endfor -%}
						</select>
					</div>
				</div>
			</li>
		{%- endfor -%}
	</ul>
{% endblock %}
