{% extends "layout/question.main.html.twig" %}

{% block content %}
	{%- set type = type|default("checkbox") -%}

	<ul class="list-group list-group-striped">
		{%- for answer in question.answers -%}
			<li class="list-group-item">
				<div class="{{ type }}">
					<label>
						<input type="{{ type }}" data-label="{{ answer.form.label }}" name="{{ answer.form.name }}"
							{%- if answer.form.checked %} checked="checked"{% endif -%}
							{%- if answer.form.value %} value="{{ answer.form.value }}"{% endif %}
							{%- if answer.form.required == true %} class="required"{% endif %}
							{%- if answer.form.checked == true %} checked="checked"{% endif %}> {{ answer.form.label }}
					</label>
				</div>
				{%- if answer.other -%}
					<div class="other form-group hide">
						<label for="id_{{ answer.other.form.name }}">{{ answer.other.form.label }}</label>
						<input type="text" class="form-control" required="required" name="{{ answer.other.form.name }}" id="id_{{ answer.other.form.name }}">
					</div>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{% endblock %}
