{% extends "layout/question.main.html.twig" %}

{% block content %}
	{%- set type = type|default("input") -%}

	<ul class="list-group list-group-striped">
		{%- for answer in question.answers -%}
			<li class="list-group-item">
				<div class="{{ type }}">
					<label for="id_{{ answer.form.name }}">{{ answer.form.label }}</label>
					<input class="form-control" id="id_{{ answer.form.name }}" type="{{ type }}" data-label="{{ answer.form.label }}" name="{{ answer.form.name }}"
						{%- if answer.form.value %} value="{{ answer.form.value }}"{% endif %}>
				</div>
			</li>
		{%- endfor -%}
	</ul>
{% endblock %}
