{#{% include "types/question.checkbox.html.twig" with { 'type': 'textarea' } %}
#}
{% extends "layout/question.main.html.twig" %}

{% block content %}
	{%- set type = type|default("input") -%}

	<ul class="list-group list-group-striped">
		{%- for anwser in question.anwsers -%}
			<li class="list-group-item">
				<div class="{{ type }}">
					<label for="id_{{ anwser.form.name }}">{{ anwser.form.label }}</label>
					<textarea class="form-control" rows="3" name="{{ anwser.form.name }}" id="id_{{ anwser.form.name }}" data-label="{{ anwser.form.label }}">{% if anwser.form.value %}{{ anwser.form.value }}{% endif %}</textarea>
				</div>
			</li>
		{%- endfor -%}
	</ul>
{% endblock %}
