{%- macro title(title, options) -%}
	{%- import _self as bs -%}

	{%- if options is null -%}
		{%- set options = {} -%}
	{%- endif -%}

	{%- if options['class'] is not defined -%}
		{%- set options = options|merge({ 'class': '' }) -%}
	{%- else -%}
		{%- set options = options|merge({ 'class': ' ' ~ options['class'] }) -%}
	{%- endif -%}

	{%- if options['subtitle'] is not defined -%}
		{%- set options = options|merge({ 'subtitle': false }) -%}
	{%- endif -%}

	{%- if options['subtitle'] -%}
		{%- set outerClass = "inner-heading" -%}
		{%- set innerClass = "inner-title" -%}
	{%- else -%}
		{%- set outerClass = "panel-heading" -%}
		{%- set innerClass = "panel-title" -%}
	{%- endif -%}

	<div class="{{ outerClass }}{{ options.class }}">
		<div class="{{ innerClass }}">

			{%- if options['icon-align'] is not defined or (options['icon-align'] != 'left' and options['icon-align'] != 'right') -%}
				{%- set options = options|merge({'icon-align': 'left'}) -%}
			{%- endif -%}

			{%- if options.icon is defined -%}
				{%- if options['icon-align'] != 'right' -%}{{ bs.icon(options.icon) }}{%- endif -%}
			{%- endif -%}

			{{ title|default("")|raw }}

			{%- if options.icon is defined and options.icon != "" and options['icon-align'] is defined -%}
				{%- if options['icon-align'] == 'right' -%}{{ bs.icon(options.icon, { 'class': 'fa-aligned-right' }) }}{%- endif -%}
			{%- endif -%}

		</div>
	</div>
{%- endmacro -%}
