<aside id="progress">
	<h1>Vraag {{ progress.current }} van {{ progress.total }}</h1>
	{% set percentage = 100 / progress.total * progress.current %}
	<div class="progress" id="inner-progress">
		<div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="{{ percentage|number_format }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage|number_format }}%;">
			{{ percentage|number_format }}%
		</div>
	</div>
</aside>
