{% extends "layout/question.main.html.twig" %}

{% block content %}
	<table class="table" data-type="scale">
		<thead>
			<tr>
				<th class="title">&nbsp;</th>
				{%- for answer in question.answers.0.answers -%}
					<th data-value="{{ answer.form.value }}">{{ answer.form.label }}</th>
				{%- endfor -%}
			</tr>
		</thead>
		<tbody>
			{%- for header in question.answers -%}
			<tr>
				<td class="title">{{ header.title }}</td>
				{%- for answer in header.answers -%}
					<td>
						<label>
							<input
								type="radio" data-label="{{ answer.form.label }}" name="{{ answer.form.name }}"
								{%- if answer.form.checked %} checked="checked"{% endif -%}
								{%- if answer.form.value %} value="{{ answer.form.value }}"{% endif -%}
								{%- if answer.form.required == true %} required="required"{% endif -%}>
						</label>
					</td>
				{%- endfor -%}
			</tr>
			{%- endfor -%}
		</tbody>
	</table>
{% endblock %}
