<aside id="progress">
	<h1>Vraag <strong class="green">{{ progress.current }}</strong> van <strong>{{ progress.total }}</strong></h1>
	{% set percentage = 100 / progress.total * progress.current %}
	<div class="progress" id="inner-progress">
		<div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="{{ percentage|number_format }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage|number_format }}%;">
		</div>
		{{ percentage|number_format }}%
	</div>
</aside>
